<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informacion del producto</title>
</head>

<body>
    <header>
        <a href="home.html">
            <h1>T-Shirt | Colombia</h1>
        </a>

        <nav>
            <div>
                <label for="search">Buscar Camiseta</label>
                <input type="search" value="Camiseta blanca" id="search" />
                <a href="search.html">
                    <button>Buscar</button>
                </a>
            </div>

            <a href="login.html">Cerrar Sesión</a>
        </nav>
    </header>

    <main>
        <section>
            <img src="assets/img/6.jpg" alt="Camiseta Not Today Mujer" width="200" />
        </section>

        <section>
            <div>
                <h2>Camiseta Not Today Mujer</h2>
                <p>200000</p>
            </div>

            <div>
                <p>Talla:</p>

                <ul>
                    <li>M</li>
                    <li>L</li>
                    <li>XL</li>
                    <li>XXL</li>
                </ul>
            </div>

            <div>
                <p>Descripción:</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </section>
    </main>

    <footer>
        <p>
            Moda con conciencia ambiental. Di no a los catálogos impresos y sí a un
            futuro más verde. #EcoFashion
        </p>
    </footer>
</body>

</html>