<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina principal</title>
    <link rel="stylesheet" href="../../public/css/normalize.css" />
    <link rel="stylesheet" href="../../public/css/main.css" />
    <link rel="stylesheet" href="../../public/css/home.css" />
    <link rel="stylesheet" href="../../public/fontawesome/css/all.min.css" />
</head>

<body>
    <div class="main">
        <header class="header container">
            <div class="header-links">
                <a class="header-link link" href="home.html">
                    <h1 class="header-title">T-Shirt | Colombia</h1>
                </a>

                <div>
                    <a class="link header-link--padding" href="orderBy/order-by-men.html">Hombre</a>
                    <a class="link header-link--padding" href="orderBy/order-by-women.html">Mujer</a>
                    <a class="link header-link--padding" href="orderBy/order-by-mix.html">Unisex</a>
                </div>
            </div>

            <nav class="header-links">
                <div class="header-link">
                    <label for="search">Buscar Camiseta</label>
                    <input type="search" value="Camiseta blanca" id="search" />
                    <a href="search.html">
                        <button>Buscar</button>
                    </a>
                </div>

                <a class="header-title1 link" href="login.html">Mesa de ayuda</a>
            </nav>
        </header>

        <main class="container">
            <section>
                <div>
                    <h2 class="main-header--margin-bottom">Catalogo</h2>
                    <p class="main-header--margin">Todos los productos</p>
                </div>

                <div class="main-container">
                    <article class="main-article">
                        <a class="main-link" href="details/details1.html">
                            <img class="main-article-image" src="../../public/images/1.jpg" alt="camiseta 1" />
                            <h2 class="main-article-title">Camiseta Nguyen Hombre</h2>
                            <p class="main-article-price">200.000</p>
                        </a>
                    </article>

                    <article class="main-article">
                        <a class="main-link" href="details/details2.html">
                            <img class="main-article-image" src="../../public/images/2.jpg" alt="camiseta 2" />
                            <h2 class="main-article-title">Camiseta Leave Mujer</h2>
                            <p class="main-article-price">300.000</p>
                        </a>
                    </article>

                    <article class="main-article">
                        <a class="main-link" href="details/details3.html">
                            <img class="main-article-image" src="../../public/images/3.jpg" alt="camiseta 3" />
                            <h2 class="main-article-title">Camiseta Gotchi Hombre</h2>
                            <p class="main-article-price">400.000</p>
                        </a>
                    </article>

                    <article class="main-article">
                        <a class="main-link" href="details/details4.html">
                            <img class="main-article-image" src="../../public/images/4.jpg" alt="camiseta 4" />
                            <h2 class="main-article-title">Camiseta Yahweh Hombre</h2>
                            <p class="main-article-price">500.000</p>
                        </a>
                    </article>

                    <article class="main-article">
                        <a class="main-link" href="details/details5.html">
                            <img class="main-article-image" src="../../public/images/5.jpg" alt="camiseta 5" />
                            <h2 class="main-article-title">Camiseta Zevent Unisex</h2>
                            <p class="main-article-price">200.000</p>
                        </a>
                    </article>

                    <article class="main-article">
                        <a class="main-link" href="details/details6.html">
                            <img class="main-article-image" src="../../public/images/6.jpg" alt="camiseta 6" />
                            <h2 class="main-article-title">Camiseta Not Today Mujer</h2>
                            <p class="main-article-price">200.000</p>
                        </a>
                    </article>

                    <article class="main-article">
                        <a class="main-link" href="details/details7.html">
                            <img class="main-article-image" src="../../public/images/7.jpg" alt="camiseta 7" />
                            <h2 class="main-article-title">Camiseta 705 Hombre</h2>
                            <p class="main-article-price">200.000</p>
                        </a>
                    </article>

                    <article class="main-article">
                        <a class="main-link" href="details/details8.html">
                            <img class="main-article-image" src="../../public/images/8.jpg" alt="camiseta 8" />
                            <h2 class="main-article-title">Camiseta Original Unisex</h2>
                            <p class="main-article-price">200.000</p>
                        </a>
                    </article>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer-container container">
                <p>
                    Moda con conciencia ambiental. Di no a los catálogos impresos y sí a
                    un futuro más verde. 🌱 #EcoFashion
                </p>

                <div>
                    <a class="footer-link" href="#">Politicas de privacidad</a>
                    <a class="footer-link" href="#">Terminos y condiciones</a>
                </div>
            </div>
        </footer>
    </div>

    <div class="whatsapp">
        <a href="#" class="whatsapp-icon" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</body>

</html>