<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscador de productos</title>
    <link rel="stylesheet" href="../../public/css/normalize.css" />
    <link rel="stylesheet" href="../../public/css/main.css" />
    <link rel="stylesheet" href="../../public/css/search.css" />
    <link rel="stylesheet" href="../../public/fontawesome/css/all.min.css" />
</head>

<body>
    <div class="main">
        <header class="header container">
            <div class="header-links">
                <a class="header-link link" href="home.html">
                    <h1 class="header-title">T-Shirt | Colombia</h1>
                </a>

                <div>
                    <a class="link header-link--padding" href="orderBy/order-by-men.html">Hombre</a>
                    <a class="link header-link--padding" href="orderBy/order-by-women.html">Mujer</a>
                    <a class="link header-link--padding" href="orderBy/order-by-mix.html">Unisex</a>
                </div>
            </div>

            <nav class="header-links">
                <div class="header-link">
                    <label for="search">Buscar Camiseta</label>
                    <input type="search" value="Camiseta blanca" id="search" />
                    <a href="search.html">
                        <button>Buscar</button>
                    </a>
                </div>

                <a class="header-title1 link" href="login.html">Mesa de ayuda</a>
            </nav>
        </header>

        <main class="container">

            <div>
                <h2 class="main-header--margin-bottom">Buscar productos</h2>
            </div>

            <section class="search-container ">
                <article class="search-main">
                    <img class="search-notfound" src="../../public/images/search.png" alt="camiseta no encontrada" />

                    <p class="search-paragrah">No encontramos ningún producto <span class="search-paragrah-span">Camiseta blanca</span></p>
                </article>
            </section>
        </main>

        <footer class="footer">
            <div class="footer-container container">
                <p>
                    Moda con conciencia ambiental. Di no a los catálogos impresos y sí a
                    un futuro más verde. 🌱 #EcoFashion
                </p>

                <div>
                    <a class="footer-link" href="#">Politicas de privacidad</a>
                    <a class="footer-link" href="#">Terminos y condiciones</a>
                </div>
            </div>
        </footer>
    </div>

    <div class="whatsapp">
        <a href="#" class="whatsapp-icon" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</body>

</html>