<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informacion del producto</title>
    <link rel="stylesheet" href="../../../public/css/normalize.css" />
    <link rel="stylesheet" href="../../../public/css/main.css" />
    <link rel="stylesheet" href="../../../public/css/details.css" />
    <link rel="stylesheet" href="../../../public/fontawesome/css/all.min.css" />
</head>

<body>
    <div class="main main-details">
        <header class="header container">
            <div class="header-links">
                <a class="header-link link" href="../home.html">
                    <h1 class="header-title">T-Shirt | Colombia</h1>
                </a>

                <div>
                    <a class="link header-link--padding" href="../orderBy/order-by-men.html">Hombre</a>
                    <a class="link header-link--padding" href="../orderBy/order-by-women.html">Mujer</a>
                    <a class="link header-link--padding" href="../orderBy/order-by-mix.html">Unisex</a>
                </div>
            </div>

            <nav class="header-links">
                <div class="header-link">
                    <label for="search">Buscar Camiseta</label>
                    <input type="search" value="Camiseta blanca" id="search" />
                    <a href="search.html">
                        <button>Buscar</button>
                    </a>
                </div>

                <a class="header-title1 link" href="login.html">Mesa de ayuda</a>
            </nav>
        </header>

        <main class="container details-main">
            <section class="details-main-article">
                <img class="details-main-article-img" src="../../../public/images/8.jpg"
                    alt="Camiseta Original Unisex" />
            </section>

            <section class="details-article">
                <div>
                    <h2>Camiseta Original Unisex</h2>
                    <p class="details-article-price">200.000</p>
                </div>

                <div class="details-size">
                    <p>Talla:</p>

                    <ul class="details-size-list">
                        <li class="details-size-list-item">M</li>
                        <li class="details-size-list-item">L</li>
                        <li class="details-size-list-item">XL</li>
                        <li class="details-size-list-item">XXL</li>
                    </ul>
                </div>

                <div class="details-description">
                    <p class="details-description-title">Descripción:</p>
                    <p class="details-description-paragrahp">
                        ¡Muestra tu estilo único con nuestra camiseta de manga corta
                        "Original" de KIKII! Esta camiseta presenta un diseño vibrante y
                        audaz que seguramente atraerá la atención. El estampado en azul
                        eléctrico de un gato de la suerte rodeado de un diseño geométrico
                        y la inscripción "Original" crea una apariencia llamativa que
                        representa la confianza y la individualidad. La camiseta está
                        hecha de algodón suave y de alta calidad, lo que garantiza
                        comodidad y durabilidad durante todo el día. Tanto si eres un
                        entusiasta de la moda como si simplemente te gusta lucir un estilo
                        elegante y casual, esta camiseta es el complemento perfecto para
                        tu colección. ¡Llama la atención y expresa tu estilo personal con
                        la camiseta "Original" de KIKII!
                    </p>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer-container container">
                <p>
                    Moda con conciencia ambiental. Di no a los catálogos impresos y sí a
                    un futuro más verde. 🌱 #EcoFashion
                </p>

                <div>
                    <a class="footer-link" href="#">Politicas de privacidad</a>
                    <a class="footer-link" href="#">Terminos y condiciones</a>
                </div>
            </div>
        </footer>
    </div>

    <div class="whatsapp">
        <a href="#" class="whatsapp-icon" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</body>

</html>