.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-notfound{
    width: 60%;
}

.search-paragrah{
    font-size: 1.5rem;
    text-align: center;
    color: var(--tertiary-color);
    font-weight: bold;
}

.search-paragrah-span{
    color: var( --primary-color);
}